h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Nazarii Shogi start*/
.shogi {
  font-family: roboto, sans-serif;
}
.shogi .title {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.shogi .text {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}

/* Nazarii shogi end */
