h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* dasha start */
.team-container {
  background-color: yellow;
  text-align: center;
  width: 1200;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.team-work {
  color: blue;
  font-size: 40px;
  font-weight: 500;
}
.about-team {
  color: green;
  font-size: 20px;
  font-weight: 400;
}
/* dasha end */

.dima {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.dima .list {
  display: flex;
  justify-content: space-between;
}

.dima .title {
  text-align: center;
  margin-bottom: 20px;
}

.dima .text {
  margin-bottom: 20px;
}

.dima .item {
  padding: 10px;
  background-color: yellow;
  border: 2px solid black;
}

.dima .item:not(:last-child) {
  margin-right: 20px;
}

.vlad-section .wrap {
  width: 30%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-radius: 4px;
}
.vlad-section .title {
  text-align: center;
  margin-bottom: 15px;
}
.vlad-section .img {
  display: block;
  margin: 0 auto;
}

/* Yana */
.pic {
  width: 380px;
  background-color: rgb(213, 242, 242);
  border: 2px solid rgb(58, 82, 53);
  border-radius: 4px;
  padding: 10px;
}

/* liosha */

.gus {
  background-color: gold;
  display: flex;
  align-items: center;
}

.gus-title {
  margin-bottom: 20px;

  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.gus-text {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

/* liosha */

/* Nazarii Shogi start*/
.shogi {
  font-family: roboto, sans-serif;
  width: 1000px;
  outline: 1px solid tomato;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.shogi .title {
  font-size: 30px;
  font-weight: 700;
  color: black;

  margin-bottom: 20px;
}

.shogi .img {
  margin-bottom: 10px;
}

.shogi .text {
  font-size: 15px;
  color: gray;
  margin-bottom: 10px;
}

.shogi .link {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.shogi .link:hover {
  color: teal;
}

/* Nazarii shogi end */

/* serhii */
.container {
  display: flex;
  flex-direction: column;
  width: 1200;
  padding: 0 15px;
}
.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;

  border-top: 1px solid #000;

  color: #8f95a5;
}
.hero-title {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: #000000;
}
.item {
  padding: 15px;
  margin: 2px;
  background: #f3ebfe;
  text-align: center;

  font-size: 24px;
  line-height: 1.5;

  color: tomato;
}
/* serhii */

.section-anton {
  width: 1440px;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

.button-pro {
  padding: 10px;
  color: rgb(66, 49, 224);
  background-color: yellow;
  border-radius: 4px;
  border-color: rgb(66, 49, 224);
  cursor: pointer;
}

.button-pro:hover,
.button-pro:focus {
  color: yellow;
  background-color: rgb(66, 49, 224);
  border-color: yellow;
}

.link-ira:hover {
  color: brown;
}

/* andrii */
.andrii {
  background-color: violet;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}
/* andrii */

/* vova */
.vova-heading {
  
  margin-left: 150px;
}
.vova-buttons {
  display: flex;
  
}
.vova-button {
width: max-content;
  background-color: aqua;
  color: purple;
  margin-right: 50px;
  border-color: lime;
  border-radius: 25px;
}