h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}




/* liosha */

.gus {
  background-color: gold;
  display: flex;
  align-items: center;
}


.gus-title {
  margin-bottom: 20px;

  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.gus-text {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}



/* liosha */
